body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.header{
    background-color: white;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.7s;
    z-index: 10;
  }


header.abajo {
    background-color: #0e578A;
    transition: 2.5s;
  }


.nav_header{
    margin-right: 40px;
    margin-top: 16px;
}


 .logo{
    height: 35px;
    margin-left: 40px;
    display: none;
} 

.abajo .logo{
    display: flex;
}

.abajo .logo-2{
    display: none;
}

.logo-2{
    height: 35px;
    margin-left: 40px;
    display: flex;
}

a {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: auto;
    letter-spacing: 4px;
  }
  a:hover{
    text-decoration: overline;
  }
  .abajo a{
      color: white !important;
  }
  .nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 490;
  }


form{
    border-radius: 10px;
    border: 1px solid #ced4da;
    background-color:#0e578A;
}
.tituloForm{
    font-size: 32px;
    padding: 30px;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: auto;
    letter-spacing: 4px;
    justify-content: center;
}

label{
    width: 100%;
    color:white;
    border-radius: 4px;
    width: 100%;
}

.btn{
    border: none;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    width: 50%;
}

.btn:hover{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    width: 50%;
}

.navbar-toggler{
    border: none;
}

.hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-color: none !important;
  color: transparent;
}
.abajo .hamburger .line{
    background-color: white;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin-block: 10px;
  border-radius: 4px;
  transition:  0.5s;
  opacity: 0.25s;
}
.hamburger.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}