@media (min-width: 992px) {
    .alto-100{
        height: 100vh;
    }
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #C8D7E8;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.7s;
    z-index: 10;
  }


header.abajo {
    background-color: #0e578A;
    transition: 2.5s;
  }


.nav_header{
    margin-right: 40px;
    margin-top: 16px;
}


 .logo{
    height: 35px;
    margin-left: 40px;
    display: none;
} 

.abajo .logo{
    display: flex;
}

.abajo .logo-2{
    display: none;
}

.logo-2{
    height: 35px;
    margin-left: 40px;
    display: flex;
}

a {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: auto;
    letter-spacing: 4px;
  }
  a:hover{
    text-decoration: overline;
  }
  .abajo a{
      color: white !important;
  }
  .nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 490;
  }
