body{
    background-color: #f5f3f5;
}

header{
    background-color: #02568a;
    
}

.ico1{
    border-style: solid;
    padding: 0px;
}
.container-busqueda{
    padding: 20px 16px;
}

.busqueda{
    border-radius: 16px;
    background-color: #fff;
    border-style: solid;
    border-width: 0.1em;
    border-color: #ebebeb;
   /* background-color: rgba(0,0,0, .04);*/

    height: 32px;
    padding: 0.2em;
    text-align: start;
    vertical-align: middle;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.form1{
    font-size: 16px;
    padding: 0px 7px;
    background-color: rgba(0,0,0,0);
    width: auto;
}

.top-redondeado{
    border-top-left-radius: 20px;
    border-top-right-radius: 16px;
    padding: 2em;
    background-color: #fff;
    
}

.celda{
  padding:10px 0px 0px 10px; 
  background-color: #fff;
  border-bottom: 1px solid #CBCBCB ;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;  

}

.header-text{
  
    font-size: 1.25em;
    font-weight: 600;
    padding: 0px 20px

}
.medio{
    text-align: center;
    vertical-align: middle;
}

.transaccion{
    font-size: larger;

}
